# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [11]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [12]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# Getting the webpage of mentioned url 
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [4]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [5]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [6]:
# Scraoing Name of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

Name

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Uptown Funk"[34]',
 '"Gangnam Style"[35]',
 '"Phonics Song with Two Words"[37]',
 '"Dame Tu Cosita"[38]',
 '"Sugar"[39]',
 '"Sorry"[40]',
 '"Roar"[41]',
 '"Counting Stars"[42]',
 '"Thinking Out Loud"[43]',
 '"Wheels on the Bus"[44]',
 '"Dark Horse"[45]',
 '"Faded"[46]',
 '"Girls Like You"[47]',
 '"Shake It Off"[48]',
 '"Lean On"[49]',
 '"Bailando"[50]',
 '"Let Her Go"[51]',
 '"Axel F"[52]',
 '"Mi Gente"[53]',
 '"Perfect"[54]',
 '"Waka Waka (This Time for Africa)"[55]',
 '"Hello"[56]']

In [9]:
# Scraping Artist of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'Psy',
 'ChuChu TV',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Taylor Swift',
 'Major Lazer',
 'Enrique Iglesias',
 'Passenger',
 'Crazy Frog',
 'J Balvin',
 'Ed Sheeran',
 'Shakira',
 'Adele']

In [16]:
# Scraping Uploaded date of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append("_")

UploadDate

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'March 6, 2014',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'August 18, 2014',
 'March 22, 2015',
 'April 11, 2014',
 'July 25, 2012',
 'June 16, 2009',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'October 22, 2015']

In [11]:
# Scraping Views of videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")
Views

['9.32',
 '7.54',
 '5.71',
 '5.46',
 '5.26',
 '4.51',
 '4.51',
 '4.46',
 '4.29',
 '4.19',
 '4.16',
 '3.59',
 '3.55',
 '3.47',
 '3.43',
 '3.39',
 '3.32',
 '3.26',
 '3.14',
 '3.14',
 '3.12',
 '3.10',
 '3.09',
 '3.09',
 '3.07',
 '3.00',
 '2.98',
 '2.95',
 '2.94',
 '2.88']

In [18]:
# Creating DataFrame from scraped data
Wiki = pd.DataFrame({})
Wiki['Rank']=Rank
Wiki['Name']=Name
Wiki['Artist']=Artist
Wiki['Upload Date']=UploadDate
Wiki['Views']=Views

# Removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.32
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.54
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.71
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.46
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.26
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.51
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.51
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.46
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.29
9,10.,Gangnam Style,Psy,"July 15, 2012",4.19
10,11.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.16
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.59
12,13.,Sugar,Maroon 5,"January 14, 2015",3.55
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.47
14,15.,Roar,Katy Perry,"September 5, 2013",3.43
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.39
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.32
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.26
18,19.,Dark Horse,Katy Perry,"February 20, 2014",3.14
19,20.,Faded,Alan Walker,"December 3, 2015",3.14
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.12
21,22.,Shake It Off,Taylor Swift,"August 18, 2014",3.10
22,23.,Lean On,Major Lazer,"March 22, 2015",3.09
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.09
24,25.,Let Her Go,Passenger,"July 25, 2012",3.07
25,26.,Axel F,Crazy Frog,"June 16, 2009",3.00
26,27.,Mi Gente,J Balvin,"June 29, 2017",2.98
27,28.,Perfect,Ed Sheeran,"November 9, 2017",2.95
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.94
29,30.,Hello,Adele,"October 22, 2015",2.88

Q2: Scrape the details of team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [4]:
button=driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(button.get_attribute("href"))
time.sleep(3)

In [5]:
# Creating empty lists for scraping the data

MatchTitle = []
Series = []
Place = []
Date = []
Time = []

In [6]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    MatchTitle.append(i.text)
MatchTitle

['T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'ODI',
 'ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'T20I']

In [7]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
Series

["2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022']

In [8]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
Place

['Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl']

In [9]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    Date.append(i.text.replace('\n',' '))
Date

['Sunday 24 OCTOBER 19:30 IST',
 'Sunday 31 OCTOBER 19:30 IST',
 'Wednesday 03 NOVEMBER 19:30 IST',
 'Friday 05 NOVEMBER 19:30 IST',
 'Monday 08 NOVEMBER 19:30 IST',
 'Wednesday 17 NOVEMBER 19:00 IST',
 'Friday 19 NOVEMBER 19:00 IST',
 'Sunday 21 NOVEMBER 19:00 IST',
 'Thursday 25 NOVEMBER 09:30 IST',
 'Friday 03 DECEMBER 09:30 IST',
 'Friday 17 DECEMBER 13:30 IST',
 'Sunday 26 DECEMBER 13:30 IST',
 'Monday 03 JANUARY 13:30 IST',
 'Tuesday 11 JANUARY 14:00 IST',
 'Friday 14 JANUARY 14:00 IST',
 'Sunday 16 JANUARY 14:00 IST',
 'Wednesday 19 JANUARY 19:30 IST',
 'Friday 21 JANUARY 19:30 IST',
 'Sunday 23 JANUARY 19:30 IST',
 'Wednesday 26 JANUARY 19:30 IST']

In [10]:
date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

In [12]:
# Creating data frame
fixture=pd.DataFrame({'Match Title': MatchTitle,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 24 OCTOBER,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 31 OCTOBER,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 03 NOVEMBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday 05 NOVEMBER,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 08 NOVEMBER,19:30 IST
5,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 NOVEMBER,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 NOVEMBER,19:00 IST
7,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21 NOVEMBER,19:00 IST
8,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25 NOVEMBER,09:30 IST
9,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 03 DECEMBER,09:30 IST
10,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17 DECEMBER,13:30 IST
11,TEST,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26 DECEMBER,13:30 IST
12,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 03 JANUARY,13:30 IST
13,ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Tuesday 11 JANUARY,14:00 IST
14,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 14 JANUARY,14:00 IST
15,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 16 JANUARY,14:00 IST
16,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Wednesday 19 JANUARY,19:30 IST
17,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 21 JANUARY,19:30 IST
18,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Sunday 23 JANUARY,19:30 IST
19,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 26 JANUARY,19:30 IST

Q3: Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [13]:
# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)

In [14]:
# Creating empty list
Name = []
Description = []

In [15]:
#Clicking on Selenium button
driver.find_element_by_xpath("//li//a[@title='Selenium']").click()

In [16]:
#Clicking on Exception Handling button
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [17]:
#Scraping Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)
Name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [18]:
#Scraping Description
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)
Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [19]:
# creating the dataframe from the scraped data
Selenium=pd.DataFrame({})
Selenium['Exception_Name']=Name
Selenium['Description']=Description
Selenium

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4: Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [20]:
# Getting the webpage of mentioned url 
url=('http://statisticstimes.com/')
driver.get(url)

In [23]:
# Clicking on Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

In [24]:
# Clicking on India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [26]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [27]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []

In [28]:
# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [29]:
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [30]:
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [31]:
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
GSDP1

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-',
 '-',
 '1,659,210',
 '1,495,758',
 '1,476,983',
 '-',
 '1,150,711',
 '916,014',
 '881,873',
 '875,429',
 '827,019',
 '-',
 '779,647',
 '755,790',
 '562,710',
 '517,521',
 '457,757',
 '-',
 '301,242',
 '288,041',
 '-',
 '143,063',
 '-',
 '72,181',
 '50,227',
 '-',
 '34,823',
 '32,833',
 '29,148',
 '28,391',
 '-',
 '-',
 '24,424',
 '-']

In [32]:
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
GSDP2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [33]:
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
Share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-',
 '13.97%',
 '8.77%',
 '8.41%',
 '8.09%',
 '7.92%',
 '5.96%',
 '5.06%',
 '4.68%',
 '4.65%',
 '4.41%',
 '4.24%',
 '4.22%',
 '3.99%',
 '2.91%',
 '2.83%',
 '2.56%',
 '1.69%',
 '1.63%',
 '1.60%',
 '1.33%',
 '0.80%',
 '0.78%',
 '0.40%',
 '0.27%',
 '0.22%',
 '0.19%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.13%',
 '-']

In [34]:
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")
GDPbillion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-',
 '-',
 '1,167,776',
 '1,015,735',
 '1,035,131',
 '-',
 '713,376',
 '630,693',
 '594,806',
 '595,605',
 '496,798',
 '-',
 '568,265',
 '514,983',
 '377,276',
 '374,015',
 '344,437',
 '-',
 '218,232',
 '210,837',
 '-',
 '107,171',
 '-',
 '56,810',
 '35,980',
 '-',
 '22,291',
 '23,564',
 '18,549',
 '17,060',
 '-',
 '-',
 '17,797',
 '-']

In [35]:
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDPbillion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Q5: Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [36]:
# Getting the webpage of mentioned url 
url=('https://github.com/')
driver.get(url)

In [37]:
#Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

In [38]:
#Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [39]:
#Creating empty list
#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [40]:
#Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [41]:
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
repository_title

['Slurmio / school-dev-k8s',
 'public-apis / public-apis',
 'PowerShell / PowerShell',
 'peregrine-lang / Peregrine',
 'kentcdodds / kentcdodds.com',
 'vmware-tanzu / community-edition',
 'louislam / uptime-kuma',
 'syncthing / syncthing',
 'ryanmcdermott / clean-code-javascript',
 'tiangolo / fastapi',
 'PrefectHQ / prefect',
 'JoeWDavies / geoblender',
 'opencodeiiita / Collaborative-Web',
 'files-community / Files',
 'oatpp / oatpp',
 'Harsha200105 / DesktopAssitant',
 'abhpd / hacktoberfest2021',
 'novaspirit / pi-hosted',
 'M2Team / NanaZip',
 'Richasy / Bili.Uwp',
 'facebook / flipper',
 'awesome-selfhosted / awesome-selfhosted',
 'rwightman / pytorch-image-models',
 'girlscript / winter-of-contributing',
 'nvm-sh / nvm']

In [43]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    # Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [44]:
#DATA FRAMEING
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,Slurmio / school-dev-k8s,-,3,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
1,public-apis / public-apis,A collective list of free APIs,946,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
2,PowerShell / PowerShell,PowerShell for every system!,385,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
3,peregrine-lang / Peregrine,An easy to use systems programming language wi...,9,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
4,kentcdodds / kentcdodds.com,My personal website,15,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
5,vmware-tanzu / community-edition,VMware Tanzu Community Edition is a full-featu...,71,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
6,louislam / uptime-kuma,A fancy self-hosted monitoring tool,55,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
7,syncthing / syncthing,Open Source Continuous File Synchronization,255,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
8,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,109,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
9,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...",262,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
10,PrefectHQ / prefect,The easiest way to automate your data,226,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
11,JoeWDavies / geoblender,Tutorials for making 3D-looking maps with Blen...,-,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
12,opencodeiiita / Collaborative-Web,Opencode 21 Collaborative website!,125,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
13,files-community / Files,A modern file manager that pushes the boundari...,130,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
14,oatpp / oatpp,🌱Light and powerful C++ web framework for high...,36,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
15,Harsha200105 / DesktopAssitant,A Virtual Desktop Assistant Written in Python,6,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
16,abhpd / hacktoberfest2021,🌱 Contribute your favorite 📚 Data Structure im...,75,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
17,novaspirit / pi-hosted,Raspberry Pi Self Hosted Server Based on Docke...,5,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
18,M2Team / NanaZip,The 7-Zip derivative intended for the modern W...,-,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
19,Richasy / Bili.Uwp,适用于新系统UI的哔哩,-,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
20,facebook / flipper,A desktop debugging platform for mobile develo...,218,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
21,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,953,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
22,rwightman / pytorch-image-models,"PyTorch image models, scripts, pretrained weig...",47,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
23,girlscript / winter-of-contributing,GirlScript Winter of Contributing is a three-m...,219,"[Mustache, Shell, Other, Python, Shell, C#, Po..."
24,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,300,"[Mustache, Shell, Other, Python, Shell, C#, Po..."

Q6: Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [45]:
# Getting the webpage of mentioned url 
url=('https://www.billboard.com/')
driver.get(url)

In [46]:
#Clicking on charts
charts=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]").click()

In [47]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [48]:
# Getting urls for top 100 songs
urls = driver.find_element_by_xpath("//div[@class='charts-landing first-group']//div//a")
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

In [49]:
# Scraping data of song names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_Name.append(i.text)
Song_Name

['My Universe',
 'Stay',
 'Industry Baby',
 'Way 2 Sexy',
 'Fancy Like',
 'Bad Habits',
 'Good 4 U',
 'Kiss Me More',
 'Knife Talk',
 'Levitating',
 'Essence',
 'Save Your Tears',
 'Montero (Call Me By Your Name)',
 'Shivers',
 'Heat Waves',
 'Need To Know',
 'Girls Want Girls',
 'You Right',
 "Beggin'",
 'Wockesha',
 "If I Didn't Love You",
 'Take My Breath',
 'Fair Trade',
 'Thats What I Want',
 'Traitor',
 'Cold Beer Calling My Name',
 'Chasing After You',
 'Bad Morning',
 'Pepas',
 'Deja Vu',
 'Happier Than Ever',
 'Your Heart',
 'Leave The Door Open',
 'Hurricane',
 'A-O-K',
 'Butter',
 'On My Side',
 'Too Easy',
 'Leave Before You Love Me',
 'No Where',
 'Peaches',
 'Family Ties',
 "Memory I Don't Mess With",
 'Late At Night',
 'Things A Man Oughta Know',
 'Cold Heart (PNAU Remix)',
 'Meet Me At Our Spot',
 'Life Support',
 'I Was On A Boat That Day',
 'Love Nwantiti (Ah Ah Ah)',
 'Wild Side',
 'Whole Lotta Money',
 'Hold Me Down',
 'Champagne Poetry',
 'Buy Dirt',
 'Have Mercy',
 'Love Again',
 'Nevada',
 '50 Shots',
 'No Friends In The Industry',
 'Smoke Strong',
 'Break Or Make Me',
 'You Time',
 'Gyalis',
 'Cold As You',
 'My Boy',
 'Sincerely',
 "Drunk (And I Don't Wanna Go Home)",
 "I Can't Take It Back",
 'Waves',
 'Sharing Locations',
 'In The Bible',
 'Thot Shit',
 'Rumors',
 'Woman',
 "Thinking 'Bout You",
 'Baddest',
 '2055',
 'Memory',
 'Forgiato',
 'You Should Probably Leave',
 "Drinkin' Beer. Talkin' God. Amen.",
 'Rich Shit',
 'TSU',
 'Volvi',
 'Todo de Ti',
 'Love All',
 'N 2 Deep',
 'Yonaguni',
 'Knowing You',
 'For Tonight',
 'Baddest Thing',
 'Summer Of Love',
 'Get Into It (Yuh)',
 'Same Boat',
 'Pipe Down',
 "Papi's Home",
 'Chosen',
 'Toxic Punk',
 'Moon']

In [50]:
# Scraping data of artist names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_Name.append(i.text)
Artist_Name

['Coldplay x BTS',
 'The Kid LAROI & Justin Bieber',
 'Lil Nas X & Jack Harlow',
 'Drake Featuring Future & Young Thug',
 'Walker Hayes',
 'Ed Sheeran',
 'Olivia Rodrigo',
 'Doja Cat Featuring SZA',
 'Drake Featuring 21 Savage & Project Pat',
 'Dua Lipa',
 'Wizkid Featuring Justin Bieber & Tems',
 'The Weeknd & Ariana Grande',
 'Lil Nas X',
 'Ed Sheeran',
 'Glass Animals',
 'Doja Cat',
 'Drake Featuring Lil Baby',
 'Doja Cat & The Weeknd',
 'Maneskin',
 'Moneybagg Yo',
 'Jason Aldean & Carrie Underwood',
 'The Weeknd',
 'Drake Featuring Travis Scott',
 'Lil Nas X',
 'Olivia Rodrigo',
 'Jameson Rodgers Featuring Luke Combs',
 'Ryan Hurd With Maren Morris',
 'YoungBoy Never Broke Again',
 'Farruko',
 'Olivia Rodrigo',
 'Billie Eilish',
 'Joyner Lucas & J. Cole',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Kanye West',
 'Tai Verdes',
 'BTS',
 'YoungBoy Never Broke Again',
 'Gunna & Future',
 'Marshmello X Jonas Brothers',
 'YoungBoy Never Broke Again',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Baby Keem & Kendrick Lamar',
 'Lee Brice',
 'Roddy Ricch',
 'Lainey Wilson',
 'Elton John & Dua Lipa',
 'THE ANXIETY: WILLOW & Tyler Cole',
 'YoungBoy Never Broke Again',
 'Old Dominion',
 'CKay',
 'Normani Featuring Cardi B',
 'BIA Featuring Nicki Minaj',
 'YoungBoy Never Broke Again',
 'Drake',
 'Jordan Davis Featuring Luke Bryan',
 'Chloe',
 'Dua Lipa',
 'YoungBoy Never Broke Again',
 'YoungBoy Never Broke Again',
 'Drake',
 'YoungBoy Never Broke Again',
 'YoungBoy Never Broke Again',
 'Scotty McCreery',
 'Capella Grey',
 'Luke Combs',
 'Elvie Shane',
 'YoungBoy Never Broke Again',
 'Elle King & Miranda Lambert',
 'YoungBoy Never Broke Again',
 'Luke Bryan',
 'Meek Mill Featuring Lil Baby & Lil Durk',
 'Drake Featuring Lil Durk & Giveon',
 'Megan Thee Stallion',
 'Lizzo Featuring Cardi B',
 'Doja Cat',
 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter',
 'Yung Bleu, Chris Brown & 2 Chainz',
 'Sleepy Hallow',
 'Kane Brown X blackbear',
 'YoungBoy Never Broke Again',
 'Chris Stapleton',
 'Chase Rice Featuring Florida Georgia Line',
 'YoungBoy Never Broke Again',
 'Drake',
 'Aventura x Bad Bunny',
 'Rauw Alejandro',
 'Drake Featuring JAY-Z',
 'Drake Featuring Future',
 'Bad Bunny',
 'Kenny Chesney',
 'Giveon',
 'YoungBoy Never Broke Again',
 'Shawn Mendes & Tainy',
 'Doja Cat',
 'Zac Brown Band',
 'Drake',
 'Drake',
 'Blxst & Tyga Featuring Ty Dolla $ign',
 'YoungBoy Never Broke Again',
 'Kanye West']

In [51]:
# Scraping data of last week ranks
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)
Last_week_rank

['-',
 '1',
 '2',
 '3',
 '5',
 '4',
 '6',
 '7',
 '8',
 '11',
 '14',
 '12',
 '9',
 '17',
 '16',
 '18',
 '13',
 '19',
 '20',
 '35',
 '22',
 '21',
 '15',
 '10',
 '25',
 '29',
 '32',
 '-',
 '27',
 '23',
 '28',
 '-',
 '33',
 '31',
 '39',
 '24',
 '71',
 '-',
 '26',
 '-',
 '36',
 '38',
 '54',
 '45',
 '34',
 '74',
 '44',
 '79',
 '53',
 '80',
 '52',
 '58',
 '-',
 '30',
 '55',
 '56',
 '51',
 '-',
 '-',
 '40',
 '-',
 '-',
 '50',
 '64',
 '69',
 '67',
 '-',
 '70',
 '-',
 '60',
 '61',
 '43',
 '49',
 '46',
 '62',
 '81',
 '78',
 '65',
 '73',
 '-',
 '83',
 '77',
 '-',
 '48',
 '75',
 '82',
 '57',
 '59',
 '85',
 '96',
 '-',
 '-',
 '87',
 '84',
 '98',
 '68',
 '66',
 '-',
 '-',
 '76']

In [52]:
# Scraping data of peak rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)
Peak_rank

['1',
 '1',
 '2',
 '1',
 '5',
 '2',
 '1',
 '3',
 '4',
 '2',
 '11',
 '1',
 '1',
 '14',
 '15',
 '14',
 '2',
 '11',
 '19',
 '20',
 '15',
 '6',
 '3',
 '10',
 '9',
 '26',
 '27',
 '28',
 '26',
 '3',
 '11',
 '32',
 '1',
 '6',
 '35',
 '1',
 '37',
 '38',
 '19',
 '40',
 '1',
 '18',
 '43',
 '20',
 '32',
 '46',
 '44',
 '48',
 '49',
 '50',
 '14',
 '16',
 '53',
 '4',
 '51',
 '28',
 '51',
 '58',
 '59',
 '11',
 '61',
 '62',
 '50',
 '64',
 '65',
 '66',
 '67',
 '53',
 '69',
 '24',
 '22',
 '7',
 '16',
 '4',
 '62',
 '76',
 '77',
 '51',
 '50',
 '80',
 '63',
 '24',
 '83',
 '9',
 '22',
 '32',
 '10',
 '12',
 '10',
 '87',
 '91',
 '92',
 '48',
 '68',
 '95',
 '14',
 '8',
 '98',
 '99',
 '17']

In [53]:
# Scraping data of weeks on board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)
Weeks_on_board

['1',
 '12',
 '10',
 '4',
 '15',
 '14',
 '20',
 '25',
 '4',
 '52',
 '13',
 '42',
 '27',
 '3',
 '37',
 '16',
 '4',
 '14',
 '14',
 '23',
 '10',
 '8',
 '4',
 '2',
 '19',
 '13',
 '22',
 '1',
 '10',
 '26',
 '9',
 '1',
 '30',
 '5',
 '13',
 '19',
 '2',
 '1',
 '19',
 '1',
 '28',
 '5',
 '10',
 '17',
 '20',
 '4',
 '3',
 '3',
 '13',
 '2',
 '11',
 '12',
 '1',
 '4',
 '8',
 '3',
 '11',
 '1',
 '1',
 '4',
 '1',
 '1',
 '9',
 '9',
 '9',
 '14',
 '1',
 '23',
 '1',
 '15',
 '5',
 '4',
 '16',
 '7',
 '9',
 '7',
 '9',
 '11',
 '12',
 '1',
 '13',
 '18',
 '1',
 '4',
 '9',
 '18',
 '4',
 '4',
 '17',
 '7',
 '1',
 '1',
 '6',
 '8',
 '2',
 '4',
 '4',
 '1',
 '1',
 '5']

In [54]:
# Creating dataframe for scraped data
billboard=pd.DataFrame({})
billboard['Name'] = Song_Name
billboard['Artist'] = Artist_Name
billboard['Last week rank'] = Last_week_rank
billboard['Peak rank'] = Peak_rank
billboard['Weeks on board'] = Weeks_on_board
billboard

,Name,Artist,Last week rank,Peak rank,Weeks on board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

Q7: Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [3]:
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [4]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [5]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     
time.sleep(3)

In [6]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [7]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)
Name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Ravi Dubey',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'Shailja Mishra']

In [8]:
#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)
Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Team Lead',
 'HR Manager',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Senior Manager',
 'Company Recruitment Head',
 'Project Manager',
 'Recruitment Manager',
 'HR Executive',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'HR Manager']

In [9]:
#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)

In [10]:
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

In [11]:
#Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

In [12]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:50]
Naukri['Designation'] = Designation[:50]
Naukri['Company'] = Company[:50]
Naukri['Skills'] = Skills[:50]
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Vadodara / Baroda
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Institute for Financial Management and Resear
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Programme Manager
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Chennai
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Balu Ramesh
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",HR Administrator
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Trivandrum
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Asif Lucknowi
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Director
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Indore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",InstaFinancials
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Human Resource
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Hyderabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Kalpana Dumpala
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Executive Hiring
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Hyderabad / Secunderabad
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Mubarak
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Company HR
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Kushal Rastogi
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Company HR
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Ruchi Dhote
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Senior Executive Talent Acquisition
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Pune
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Mahesh Babu Channa
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",HR Team Lead
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Kapil Devang
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",HR Manager

Q8: Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [13]:
# Getting the webpage of mentioned url 
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)

In [16]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [17]:
#scraping book names data
for i in driver.find_elements_by_xpath("//tbody//tr/td[2]"):
    Bookname.append(i.text)
Bookname

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [18]:
#Scraping author names data
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

In [19]:
#Scraping data of volumes sold
for i in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
    Volumessold.append(i.text)
Volumessold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [20]:
#Scraping data of publisher names
for i in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
    Publisher.append(i.text)
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [21]:
#Scraping data of genre
for i in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
    Genre.append(i.text)
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [23]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9: Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [24]:
# Getting the webpage of mentioned url 
url=("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [25]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [26]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
Name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [27]:
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
Year_span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2014– )',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [28]:
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)
Run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [29]:
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
Ratings

['9.2',
 '8.7',
 '8.2',
 '7.5',
 '7.6',
 '8',
 '6.7',
 '7.5',
 '7.6',
 '7.5',
 '8.2',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.4',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.8',
 '8.3',
 '8.4',
 '8.5',
 '8.2',
 '6.2',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.5',
 '8.3',
 '8.5',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.1',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '8.9',
 '7.8',
 '7.5',
 '8.8',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.6',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [32]:
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Mystery',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [30]:
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)
Votes

['1,880,912',
 '914,539',
 '903,353',
 '270,745',
 '231,125',
 '287,254',
 '129,851',
 '273,502',
 '325,102',
 '417,798',
 '389,148',
 '752,338',
 '480,167',
 '851,754',
 '471,216',
 '157,668',
 '297,762',
 '294,559',
 '1,588,074',
 '286,009',
 '410,279',
 '498,902',
 '138,991',
 '135,759',
 '380,824',
 '214,555',
 '382,393',
 '381,142',
 '901,235',
 '633,510',
 '379,661',
 '352,798',
 '124,840',
 '117,274',
 '162,220',
 '145,871',
 '218,652',
 '452,101',
 '200,541',
 '386,729',
 '434,848',
 '57,399',
 '163,171',
 '481,112',
 '323,448',
 '63,312',
 '212,402',
 '216,613',
 '204,370',
 '207,380',
 '166,776',
 '676,865',
 '119,878',
 '316,166',
 '218,313',
 '519,308',
 '412,791',
 '431,367',
 '58,828',
 '105,693',
 '325,679',
 '69,634',
 '97,716',
 '203,539',
 '84,493',
 '77,716',
 '43,283',
 '141,523',
 '344,520',
 '264,902',
 '103,483',
 '181,832',
 '523,226',
 '96,703',
 '121,439',
 '358,230',
 '101,871',
 '199,963',
 '76,749',
 '17,448',
 '118,815',
 '132,369',
 '120,815',
 '33,649',
 '243,322',
 '116,025',
 '121,774',
 '69,711',
 '96,292',
 '173,737',
 '25,011',
 '172,314',
 '175,167',
 '614,266',
 '63,290',
 '45,854',
 '56,725',
 '177,074',
 '36,840',
 '202,742']

In [33]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,880,912"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"914,539"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"903,353"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,745"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,125"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,854"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,725"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,074"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,840"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"202,742"

Q10: Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [13]:
# Getting the webpage of mentioned url 
url=("https://archive.ics.uci.edu/")
driver.get(url)

In [14]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [15]:
# Fetching page urls of all datasets 
view_list = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [16]:
# Fetching urls for each dataset
dataset_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [7]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [17]:
for i in urls:
    driver.get(i)
    
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element_by_xpath("//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(2)
    
    #Scraping data type
    try:
        data_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(2)
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(2)
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(2)
    
    # Scraping No of instances
    try:
        instances = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(2)
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(2)
    
    # Scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(2)

In [21]:
# Creating dataframe for scraped data
ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:643]
ML['Data Type'] = Data_type[:643]
ML['Task'] = Task[:643]
ML['Attribute type'] = Attribute_type[:643]
ML['No of instance'] = No_of_instances
ML['No of attributes'] = No_of_attributes[:643]
ML['Year'] = Year[:643]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
4,A study of Asian Religious and Biblical Texts ...,"Multivariate, Text","Classification, Clustering",Integer,590,8265,2019
...,...,...,...,...,...,...,...
638,YouTube Comedy Slam Preference Data Data Set,Text,Classification,-,9800,3,2019
639,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,120000,1000000,2013
640,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",1956,5,2017
641,YouTube Spam Collection Data Set,Text,Classification,-,303,56,2017
642,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",101,17,1990