 Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data

In [ ]:
!pip install selenium

In [18]:
# Importing required libraries

import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time

#Importing selenium web driver 
from selenium import webdriver

# Importing required Exceptions which needs to be handled
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

# IMporting requests
import requests

# Importing regex
import re

In [19]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [22]:
#open the webpage naukari.com
url="https://www.naukri.com/"
driver.get(url)

In [23]:
#Get the web element for job title
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [24]:
#searching job title Data Analyst
search_job.send_keys("Data Analyst")

In [25]:
#get the web element for job location
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [26]:
# search job location as Banglore
search_loc.send_keys("Bangalore")

In [27]:
# get the web element for search button
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn

In [28]:
search_btn.click()

In [49]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags
job_title=[]
for i in title_tags:
    job_title.append(i.text)
job_title

['Business Data Analyst - Google Data Studio & SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Lead , Data Analyst',
 'Product Data Analyst',
 'Data Analyst/Sr.Analyst - Bangalore',
 'SENIOR MARKETING DATA ANALYST',
 'Data Analyst - Quantitative Support Team',
 'MIS / Data Analyst',
 'Data Analyst with SAS & Python',
 'Data Analyst',
 'Data Analyst']

In [48]:
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name
compname=[]
for i in company_name:
    compname.append(i.text)
compname

['AVE-Promagne',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart',
 'GENPACT India Private Limited',
 'Near Pte. Ltd.',
 'Trifacta',
 'Cocentrus',
 'McAfee Software (India) Pvt. Ltd',
 'TresVista Financial',
 'MediBuddy',
 'Podium Systems',
 'Coda Payments',
 'FedEx Express']

In [47]:
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc
location=[]
for i in loc:
    location.append(i.text.strip())
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)']

In [46]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp
exp1=[]
for i in exp:
    exp1.append(i.text)
exp1

['3-8 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '3-4 Yrs',
 '2-6 Yrs']

In [50]:
df=pd.DataFrame({})
df['JOB TITLE']=job_title[:10]
df['JOB LOCATION']=location[:10]
df['COMPANY NAME']=compname[:10]
df['EXPERIENCE REQUIRED']=exp1[:10]
df

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
0,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,3-8 Yrs
1,Executive Data Analyst,Bangalore/Bengaluru,Gokaldas Exports Ltd,0-3 Yrs
2,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,8-12 Yrs
3,Data Analyst - I/II,Bangalore/Bengaluru,Philips India Limited,3-6 Yrs
4,Data Analyst,Bengaluru/Bangalore,IBM India Pvt. Limited,1-4 Yrs
5,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,Allegis Services India Pvt. Ltd.,1-6 Yrs
6,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,Allegis Services India Pvt. Ltd.,1-6 Yrs
7,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,2-3 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [53]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
# web drvier
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# opening of web page through URL
url="https://www.naukri.com/"
driver.get(url)

In [4]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [5]:
search_job.send_keys("Data Scientist")

In [6]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [7]:
search_loc.send_keys("Bangalore")

In [9]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn

In [10]:
search_btn.click()

In [11]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="2d1f61cf-8eec-4377-8ff8-297712f23444")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a962827b-9e4d-4122-80f4-ca33d43de72e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="123106d5-c774-448f-8383-2c656c9a6083")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="393efda2-47fe-44ef-8b84-502d7c6f8f5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="127ce4ff-04c8-43f9-843b-74ed0b17db45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="d2e4fe3c-fc86-4d62-90f9-13834ca58302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="6df3c8d9-7925-4ee0-a04b-fcc826f64f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a44198cf-b899-4eb6-8975-e56104b88ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="fead868b-9654-48f7-b54c-7d631c6b559f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="b79564c0-d90c-4f4e-9076-bb160311f440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="dedf74d4-6bca-491f-ba1a-54cf051ffb49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="be28673a-7502-4b86-a0ed-42bde1f852a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="4e0a32b8-4d95-4980-bd57-46cdca92b051")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="b016f94a-3331-4ccf-8977-facd99a094b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="1b0cb01f-7709-4f60-8494-1ac8a96d1e2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="87b3736e-7966-40db-82e0-f363c66ffb1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="b4c4b051-3f5c-4f3c-b6d3-54ffa3bbee95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="3517382b-5c7b-4e4e-8284-849254619c39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="cbad8c58-15d2-4d28-9db6-c5a3cf5700db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="977dbe52-c69e-4573-b286-713c911b5167")>]

In [12]:
job_title=[]
for i in title_tags:
    job_title.append(i.text)
job_title

['Lead Data Scientist BFSI',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Hiring For Data Scientist / Statistical Analyst',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist',
 'Senior Data Scientist, Payments compliance',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist BFSI']

In [13]:
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="fbe89c94-fe45-42d3-aaee-8f5ab872f50c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="503014b4-fa70-4617-aa1f-e224bf028bbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a3a4958f-77e4-4a59-b8d7-65e2ee4aa427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a91f9ded-a068-4a1a-8006-b02a017d2fcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="620ebb54-74b2-448d-ac0d-26d021ff8a49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="3aaa5404-73cc-4d09-92f4-6fa503fadbc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="93627f4e-7ce5-446c-9839-24bc3ccfdf5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="efde344b-b7d8-4c8c-8841-1a021239fd8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="3b4dea0f-0bd6-4da7-bc5f-b801ec9226c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="2502588a-160e-47c8-89b9-4513b223988f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="e6d4284a-314b-48b5-bc6f-0225ed00238f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="869b2fd6-cfaa-411b-8441-29c3f50f6d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="4045a3dc-87b6-4954-9199-f9437c701f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="4ef0e607-5dff-4176-937b-1b2b425d761c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="9e1b4892-34cb-4114-92ef-49c717196bf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="ee7f6a1d-be6e-45dd-ade0-a2028f5ad6f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="24bcf13b-e408-4eb3-9315-0b2b972be882")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="8f04df9d-0945-4a63-85d6-de62a9f741b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="b4a851f8-527b-4d78-a65f-10059fb935ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="1f58677b-a291-4c85-8225-8bcd8f14e84e")>]

In [14]:
compname=[]
for i in company_name:
    compname.append(i.text)
compname

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Airbnb',
 'Happiest Minds Technologies Pvt.Ltd',
 'CRISIL LIMITED',
 'ManpowerGroup Services India Private Limited',
 'Philips India Limited',
 'NeenOpal Intelligent Solutions Private Limited',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED',
 'ELPIS IT SOLUTIONS PVT LTD',
 'ELPIS IT SOLUTIONS PVT LTD',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 'ANT work',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'AVE-Promagne',
 'IBM India Pvt. Limited']

In [15]:
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc

[<selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="d76fdf59-4856-4bee-b5d2-b83238775ad3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="76e0bde3-7baa-4814-831f-5487edf80619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a4feac0a-54b9-4a3b-8e89-1c386f49d5a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="fdcae251-79cd-4ceb-8b65-8428725e74af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="076276b2-90b0-47cf-8e70-69ed0128ea28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="32c63a78-1f90-4b9f-88c1-ae364a4404dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="1cbae4ac-b7ad-429b-a8c5-fb2eb8388f91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="3b988ec7-5cd3-4b2f-97ca-b7514fccf7ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="567b8091-7d11-4a10-ae1c-6a3208d7f482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="e2f669b6-7277-43c5-a99d-52cd810a1f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="e111c6aa-3a6d-42df-a365-162dc94ee0ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="96e0302c-97eb-4b90-853c-7742a2817a2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="8b2f0018-915a-47ef-89bf-86f11887197e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="0ca7173c-67e3-49d9-9f5f-a8c1c2887100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="11ab5780-baf2-43c8-8057-ca25c0bd7ac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="8698e374-f613-45aa-94be-d6861d8702e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="052755ac-2d4c-402f-a897-46d0914abd0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="4417a0ec-db1e-4081-a3ca-bfc6c15eaef7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="1e3a02e6-29e8-418d-840e-161286295547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a8a3902d-53b0-4023-b476-ed41067603ef")>]

In [16]:
location=[]
for i in loc:
    location.append(i.text)
location

['Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore']

In [17]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp

[<selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="d654771a-4b93-4d39-87ea-ae056542fdba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="53757816-bee1-437d-a3e2-fd2be6eb6937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="02994fcf-abf4-48cf-975d-b2356a3ed76f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="b2f86316-fbe9-427e-8996-777f9faea58a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="653a816f-b4af-4ff9-80bd-79e7a1a88b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="5b53e79a-9236-4c91-9bde-c7c259067d95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="11b25241-3258-4622-89e1-d6b87b749868")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="0560d41b-1811-42a9-83be-8d3a72875ecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="a89660e3-2105-4ade-ac5e-6980b366a3f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="5555a580-3d06-4779-b7dd-7d0e3b699ab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="7def4168-54fe-4fde-a60b-ec7fdba09acc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="ad74374b-58bf-47c9-b771-1f19bb40e084")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="d71cba4a-80f7-4d73-afa6-0866b8fb330f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="8c119f83-6ccc-4805-b35c-de5f72c4077b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="541e421a-545d-47cc-9861-f23d8b175599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="4b364b4d-1538-46f0-ae60-c115b1925d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="53f2c2ce-50bd-4d1c-9dd1-742875f514bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="2d8aa7d6-c96e-47bb-a781-85bd81e98bc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="e39ec6dd-5cb5-4b04-9877-a4cff70e571b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8fa5dac6f507d57f11be0d0e5377dcd5", element="614590c5-83a6-420d-afe1-83815dc04f6c")>]

In [18]:
# extracting experiance details in array
exp1=[]
for i in exp:
    exp1.append(i.text)
exp1

['5-9 Yrs',
 '3-7 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-9 Yrs',
 '3-7 Yrs',
 '4-9 Yrs',
 '9-14 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '8-10 Yrs',
 '6-8 Yrs',
 '7-9 Yrs']

In [19]:
# Now we'll extract the JDs (Job Descriptions). For this we'll extract the web elements.

jd_urls = []

urls = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for u in urls:
    jd_urls.append(u.get_attribute('href'))
    
jd_urls

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16311945490076495&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16311945490076495&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16311945490076495&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16311945490076495&xp=4&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16311945490076495&xp=5&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-statistical-analyst-manpowergroup-services-india-private-limited-bangalore-bengaluru-2-to-4-years-080921011029?src=jobsearchDesk&sid=16311945490076495&xp=6&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16311945490076495&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=16311945490076495&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=16311945490076495&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16311945490076495&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=16311945490076495&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16311945490076495&xp=12&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=16311945490076495&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-payments-compliance-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-9-years-020921903258?src=jobsearchDesk&sid=16311945490076495&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ant-work-bangalore-bengaluru-9-to-14-years-020921501606?src=jobsearchDesk&sid=16311945490076495&xp=15&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16311945490076495&xp=16&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16311945490076495&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bangalore-bengaluru-8-to-10-years-250821500891?src=jobsearchDesk&sid=16311945490076495&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16311945490076495&xp=19&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-7-to-9-years-280821904112?src=jobsearchDesk&sid=16311945490076495&xp=20&px=1']

In [21]:
job_desc = []

for j in jd_urls:
    driver.get(j)
    try:
        job_jd = driver.find_element_by_xpath('//section[@class="job-desc"]')
        job_desc.append(job_jd.text.replace('\n',''))
    except:
        job_desc.append('--')
job_desc

['--',
 '--',
 'Job descriptionResponsibilities include:Defining and evaluating key metrics and understanding what moves them and whyOwnership of conceptualizing, developing, and maintaining dashboards and visualizationsInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutionsCommunicating analyses and recommendations to cross functional stakeholders for decision makingEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data setsHere are example traits we value:Professional industry experience in a quantitative analysis role (7+ years preferred)Comfortable in SQL and some experience with a programming language (Python or R a plus)Ability to communicate clearly and effectively to cross functional partners of varying technical levelsAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insightsExperience or willingness to learn tools to create data pipelines using AirflowBuilding clear and easy to understand dashboards (Tableau) and presentationsRoleGraphic/Web DesignerIndustry TypeInternetFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey SkillsData ScienceRData ScientistTableauPythonSql',
 'Job description  SkillsRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLPDesired Skills: Computer VisionRoles and responsibilitiesExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, StatisticsHave ability to solve Business problems using DataShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasetsHigh level of proficiency in statistical tools like R, PythonCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.Have the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problemsGood to HaveExpertise in programming languages like Java/C/C /PythonExperience with relational databases and SQL is good to haveExperience in audio and video analyticsRelevant experience in Big Data platforms like Hadoop eco-systemCome up with innovative algorithms and solutionsStaffing Type:PermanentRoleClinical Research Associate/ScientistIndustry TypeIT Services & ConsultingFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Any PostgraduateKey SkillsHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 '--',
 '--',
 'Job descriptionUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomesWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.Selecting features, building and optimizing classifiers using machine learning and deep learning techniquesCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systemsProcessing, cleansing, and verifying the integrity of data used for analysisDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.Job Qualifications:Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product developmentExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etcHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-LearningStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalentExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.Proficiency in using query languages, such as SQL, PL/SQLHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.Good applied statistics skills, such as distributions, statistical testing, regression, etc.Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlinesA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data scienceRoleClinical Research Associate/ScientistIndustry TypeMedical Services / HospitalFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 'Job descriptionRoles and ResponsibilitiesWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.Moreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.We are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.Understanding business objectives and developing models that help to achieve them, along with metrics to track their progressDevelop and maintain robust data processing pipelines and reproducible modeling pipelinesBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.Analyze experimental results, iterate and refine models to create significant business impactFollow strict coding standards and other software engineering best practicesDesired Candidate ProfileProven experience as a Data Scientist or similar roleStrong SQL, R/Python SkillsShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization TechniquesShould have strong mathematical background & analytical bent of mindStrong Problem-Solving AbilityAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnelReliable self-starter that is capable of working with a high degree of autonomyPerks and BenefitsNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.We provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.RoleData scientistIndustry TypeManagement ConsultingFunctional AreaIT Software - OtherEmployment TypeFull Time, PermanentRole CategoryNot mentionedEducationUG :Any GraduatePG :Any PostgraduateKey SkillsData SciencePythonSQLExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine LearningSkills highlighted with ‘‘ are preferred keyskills',
 'Job descriptionHi,We at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .Roles and ResponsibilitiesAs a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.Desired Candidate ProfileWhat we are looking for:Good applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc.Good understanding of machine learning techniques and algorithmsExperience with common data science toolkits Python, R, SASProficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDBGreat communication skillsData-oriented personality and excellent business analysis skillsExperience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution.Open to professionals who have data analytics / BI background and then moved to Data Scientist roles.Perks and BenefitsRoleOtherIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryOtherEducationUG :Any GraduateKey SkillsTensorflowPostgreSQLNatural Language ProcessingNeural NetworksMachine LearningStatisticsSQLData ScienceAnomaly DetectionPytorchRNLPMongoDBQlikViewComputer VisionData AnalyticsPython',
 'Job descriptionRoles and ResponsibilitiesJob Description:Develop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.Looking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.Job Skills Required:Expert data science skills using supervised and unsupervised learning. Deep learning.Compute: Spark/Storm/NiFi/Flink/Redis, or other.Visualization: Banana UI, Kibana, or other,Tools: H2O, TensorFlow, Mlib, Scikit, Keras or other.Messaging: Kafka, RabbitMQ, or other.Strong Analytical and Math/Statistics skills.Qualification :M.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.Desired Candidate ProfileDesirable s that would strengthen candidacy: Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. Expertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.Expertise in developing scalable applications in a distributed environment.Strong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.Expertise in containerized environments on private or public clouds - Aws Azure, etc.RoleSoftware DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, Temporary/ContractualRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey Skillsdeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning',
 'Job descriptionRoles and ResponsibilitiesJob Description:Develop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.Looking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.Job Skills Required:Expert data science skills using supervised and unsupervised learning. Deep learning.Compute: Spark/Storm/NiFi/Flink/Redis, or other.Visualization: Banana UI, Kibana, or other,Tools: H2O, TensorFlow, Mlib, Scikit, Keras or other.Messaging: Kafka, RabbitMQ, or other.Strong Analytical and Math/Statistics skills.Qualification :M.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.Desired Candidate ProfileDesirable s that would strengthen candidacy: Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. Expertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.Expertise in developing scalable applications in a distributed environment.Strong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.Expertise in containerized environments on private or public clouds - Aws Azure, etc.RoleSoftware DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, Temporary/ContractualRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey Skillsdeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning',
 '--',
 '--',
 'Job descriptionThe ChallengeBe a thought leader, partner with your cross-functional partners to foster a data driven payments organization.With a focus on Payments compliance and keeping our platform safe, anticipate and detect new fraud trends and regulatory requirements.Define and evaluate key metrics. Build the data foundation you need, in partnership with the data engineering team.Deliver actionable user-insights to build the best products and modelsDesign experiments to measure the impact of new payments featuresEmpower the product and engineering teams to make data-driven decisionsWhat you need to succeed4+ years industry experience in a quantitative analysis role. Experience in Payments a strong plusFluent in SQL and proficiency in analytical tools such as Python, R, etc.Background in statistics and experience with experimentationSolid understanding of product analyticsExperience or willingness to learn tools to create data pipelines using Airflow/MinervaAbility to communicate clearly and effectively to cross functional partners of varying technical levelsRoleData AnalystIndustry TypeTravel & TourismFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduatePG :Any PostgraduateKey SkillsQuantitative AnalysisRData EngineeringData ScientistStatisticsAnalyticsPythonSQL',
 'Job descriptionPurpose of the positionThe position should be able to liaison seamlessly with the Product Engineering, Sales Engineering and Delivery teams to deliver quality work products within scope, time and budget focused on ensuring client satisfaction. The position should also be able to mentor junior data scientists in day-to-day tasks.Essential Job FunctionA senior data scientist who can demonstrate thought leadership and translate them into actionable work products in text/image-based artificial intelligence. The ideal candidate should possess programming experience in Python/R (C++ will be a plus) for analysing structured and unstructured data and build models using deep learning techniques. He/she should be an innovative thinker and possesses the ability to bring a varied perspective to problem-solving using data, statistical, algorithmic, deep learning and visualization techniques. He/she should possess a proven track record of leading and mentoring a team of high performing data scientists.Basic QualificationEducation: PhD/Master s degree in Computer Science/Data Science / Mathematics / Statistics /Allied FieldsEssential Qualification:At least 9 years of experience in machine learning with at least at least 4 years of hands-on experience in developing enterprise class and scalable models using deep learning/Natural Language Processing including Natural Language Understanding/Natural Language InferenceHands-on experience in achieving data parallelism/model parallelism using multiple GPUsExposure to pre-processing techniques to enhance documents to aid accuracy of extractionSolid mathematical foundations of machine learning/deep learning/computer visionHands-on experience in Tensor Flow, Keras, PyTorch, NLTKHands-on experience in Python/R/C programmingCompilers: Anaconda/ ANTExcellent communication skillsBusiness mindsetDesirable Technical backgroundExposure to various opensource and proprietary OCR/ICR for extracting both Latin and non-Latin scriptsExposure to MLOps implementing and automating continuous integration (CI), continuous delivery (CD), and continuous training (CT) for machine learning (ML) systemsExperience in building NLP solutions for Japanese/Thai/Arabic/Chinese LanguagesExperience in Natural Language Processing including Natural Language Understanding/Natural Language InferenceExperience in developing enterprise class scalable and self-learning NLP solutions/enginesFractal Structures and DistributionsFractal dimension for data miningImage based fractal analysisSelf-resonance and self-similarityRoleOutside Technical ConsultantIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsData ScienceNlpArtificial IntelligenceTensor FlowData ScientistNatural Language ProcessingComputer VisionMachine LearningDeep LearningPython',
 '--',
 '--',

In [22]:
# storing 10 records in dataframe
df1=pd.DataFrame({})
df1['JOB TITLE']=job_title[:10]
df1['JOB LOCATION']=location[:10]
df1['COMPANY NAME']=compname[:10]
df1['EXPERIENCE REQUIRED']=exp1[:10]
df1['JOB DESCRIPTION']=job_desc[:10]
df1

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED,JOB DESCRIPTION
0,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,5-9 Yrs,--
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,3-7 Yrs,--
2,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,7-12 Yrs,Job descriptionResponsibilities include:Defini...
3,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Happiest Minds Technologies Pvt.Ltd,5-10 Yrs,Job description SkillsRequired Skills: Data S...
4,Requirement For Data Scientist - Mumbai & Bang...,"Bangalore/Bengaluru, Mumbai (All Areas)",CRISIL LIMITED,2-6 Yrs,--
5,Hiring For Data Scientist / Statistical Analyst,Bangalore/Bengaluru,ManpowerGroup Services India Private Limited,2-4 Yrs,--
6,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,3-5 Yrs,Job descriptionUse predictive modeling to incr...
7,Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),NeenOpal Intelligent Solutions Private Limited,2-5 Yrs,Job descriptionRoles and ResponsibilitiesWe ar...
8,Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED,5-10 Yrs,"Job descriptionHi,We at Prescience www.prescie..."
9,Data Scientist,Bangalore/Bengaluru,ELPIS IT SOLUTIONS PVT LTD,3-8 Yrs,Job descriptionRoles and ResponsibilitiesJob D...

Q.No. 3 :- scrape data for “Data Scientist” designation for first 10 job results using filters on location and salary

In [3]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver

In [4]:
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [25]:
# opening of web page through URL
url="https://www.naukri.com/"
driver.get(url)

In [26]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [27]:
search_job.send_keys("Data Scientist")

In [28]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]' )
search_btn

In [29]:
search_btn.click()

In [40]:
location=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
location.click()

In [41]:
salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary.click()

In [42]:
title_tags1=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags1
job=[]
for i in title_tags1:
    job.append(i.text)
job

['Data Analyst/Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist / Data Analyst',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist - WFH - MIND Infotech',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-immediate Joiners',
 'Junior Data Scientists & Engineers',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist Internship',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist']

In [46]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

jobloc=[]
for i in job_loc:
    jobloc.append(i.text)
jobloc

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida\n(WFH during Covid)',
 'Delhi / NCR(Okhla)',
 'Noida',
 'New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi']

In [43]:
job_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

jobexp=[]
for i in job_exp:
    jobexp.append(i.text)
jobexp

['2-5 Yrs',
 '0-0 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '2-7 Yrs']

In [44]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

com=[]
for i in company:
    com.append(i.text)
com

['Skillenable Fintech Private Limited',
 'GABA Consultancy services',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'CARS24',
 'IDESLABS PRIVATE LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'R Systems International Ltd.',
 'Kusum Healthcare Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'PY Consultancy',
 'TalPro',
 'Fractal Analytics',
 'iHackers Inc',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Country Veggie',
 'iNICU',
 'IDS Infotech Ltd.',
 'Sentieo']

In [47]:
df2=pd.DataFrame({})
df2['JOB TITLE']=job[:10]
df2['JOB LOCATION']=jobloc[:10]
df2['COMPANY NAME']=com[:10]
df2['EXPERIENCE REQUIRED']=jobexp[:10]
df2

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
0,Data Analyst/Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Skillenable Fintech Private Limited,2-5 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
3,Data Scientist/ Machine Learning Engineer,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",Creative Hands HR Consultancy,0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
5,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
6,Immediate Openings For Data Scientist For Wipr...,Gurgaon/Gurugram,IDESLABS PRIVATE LIMITED,5-10 Yrs
7,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
8,Data Scientist,Noida\n(WFH during Covid),R Systems International Ltd.,3-6 Yrs
9,Data Scientist,Delhi / NCR(Okhla),Kusum Healthcare Pvt. Ltd.,4-6 Yrs

Q. No. 4 :- Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [41]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver

In [65]:
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [66]:
# opening of web page through URL
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [67]:
# Extracting the web element of the sign in button and clicking on it.

sign_in_tag = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')

sign_in_tag.click()

In [72]:
# Extracting the web element of the email input field.

email_tag = driver.find_element_by_xpath('//input[@id="userEmail"]')

email_tag

In [73]:
# Entering my email id.

email_tag.send_keys('rekhaadak@gmail.com')

In [74]:
# Extracting the web element and entering the password of my account.

password_tag = driver.find_element_by_xpath('//input[@id="userPassword"]')

password_tag.send_keys('Santosh@1707')

In [75]:
# Clicking on the sign in button.

sign_tag = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
sign_tag.click()

In [76]:
# Extracting the web element of the job search bar and entering 'Data Scientist'.

jb_src = driver.find_element_by_xpath('//input[@id="sc.keyword"]')

jb_src.send_keys('Data Scientist')

In [77]:
# Extracting the web element of the location search bar and entering 'Noida'.

loc_src = driver.find_element_by_xpath('//input[@id="sc.location"]')


loc_src.send_keys('Noida')

In [80]:
# Extracting the web element of the search button and clicking on it.

src_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')

src_btn.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]"}
  (Session info: chrome=93.0.4577.63)

In [102]:
# Extracting the web elements of the company name.

comp_name= driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]//a//span')

comp_name
company=[]
for i in comp_name:
    company.append(i.text)
company

['Noisy Lion',
 'Liberin Technologies Private Limited',
 'AlgoScale Technologies Private Limited',
 'Grail Insights',
 'Lenskart',
 'Grail Insights',
 'Salasar New Age Technologies',
 'Genpact',
 'IBM',
 'Newgen Software',
 'Ericsson',
 'Techlive',
 'Salasar New Age Technologies',
 'Monotype',
 'Airtel India',
 'ING',
 'SearchUrCollege',
 'Crowe',
 'Ishatva Management Solutions',
 'OneAssist Consumer Solutions Private Limited',
 'Biz2Credit Inc',
 'limeroad.com',
 'Crypto Mize',
 'WishFin',
 'Saishaa Services',
 'CSTEP',
 'NEC Opportunities',
 'McKinsey & Company',
 '2COMs',
 'Adobe']

In [100]:
# Extracting the web elements of the company name.

days= driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between css-pa6dqi"]' and '//div[@class="d-flex align-items-end pl-std css-17n8uzw"]')


no_days=[]
for i in days:
    no_days.append(i.text)
no_days

['30d+', '1d', '1d', '2d', '30d+', '30d+', '24h', '6d', '30d+', '24h']

In [99]:
rating= driver.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')


comp_rating=[]
for i in rating:
    comp_rating.append(i.text)
comp_rating

['3.9',
 '3.5',
 '3.6',
 '3.5',
 '3.8',
 '3.9',
 '3.3',
 '4.1',
 '3.9',
 '3.8',
 '4.0',
 '3.8',
 '3.6',
 '4.2',
 '5.0',
 '3.8',
 '3.2',
 '4.4',
 '3.8',
 '4.4']

In [103]:
df3=pd.DataFrame({})
df3['Comapny Name']=company[:10]
df3['No of Days']=no_days[1:20:2]
df3['Rating']=comp_rating[:10]
df3

                             Comapny Name No of Days Rating
0                              Noisy Lion       30d+    3.9
1    Liberin Technologies Private Limited         1d    3.5
2  AlgoScale Technologies Private Limited         1d    3.6
3                          Grail Insights         2d    3.5
4                                Lenskart       30d+    3.8
5                          Grail Insights       30d+    3.9
6            Salasar New Age Technologies        24h    3.3
7                                 Genpact         6d    4.1
8                                     IBM       30d+    3.9
9                         Newgen Software        24h    3.8

. No. 5:- Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.¶

In [154]:
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
# opening of web page through URL
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [155]:
# Extracting the web element of the sign in button and clicking on it.

sign_in_tag = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')

sign_in_tag.click()

In [157]:
# Extracting the web element of the email input field.

email_tag = driver.find_element_by_xpath('//input[@id="userEmail"]')

email_tag

In [158]:
# Entering my email id.

email_tag.send_keys('rekhaadak@gmail.com')

In [159]:
# Extracting the web element and entering the password of my account.

password_tag = driver.find_element_by_xpath('//input[@id="userPassword"]')

password_tag.send_keys('Santosh@1707')

In [160]:
# Clicking on the sign in button.

sign_tag = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
sign_tag.click()

In [163]:
# Extracting the web element of the job title search bar

jb_src = driver.find_element_by_xpath('//input[@id="KeywordSearch"]')

jb_src


jb_src.send_keys('Data Scientist')

In [165]:
# Extracting the web element of the location search bar and entering 'Noida'.

loc_src = driver.find_element_by_xpath('//input[@id="LocationSearch"]')


loc_src.send_keys('Noida')

In [167]:
# Now we'll extract the web element of the search button.

src_btn = driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')

src_btn
src_btn.click()

In [150]:
comp_name1= driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

comp_name1
company=[]
for i in comp_name1:
    company.append(i.text)
company

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'CARS24.com',
 'Vidooly Media Tech',
 'ParallelDots']

In [132]:
# Extracting the web elements of the average salary

avg_tag5 = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3')
avg_tag5
avg_sal
for i in avg_tag5:
    avg_sal.append(i.text)
avg_sal

['₹6,31,184',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹13,55,086',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹10,80,727',
 '₹35,040',
 '₹8,48,220']

In [187]:
# Extracting the web elements of the minimum salary.

minmaxsal = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')

minmax_sal=[]
for i in minmaxsal:
    minmax_sal.append(i.text)
minmax_sal

['₹4L', '₹1L', '₹6L', '₹5L', '₹4L', '₹8L', '₹8L', '₹10L', '₹5L', '₹6L']

In [178]:
rating1=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
comp_rating=[]

for i in rating1:
    comp_rating.append(i.text)
comp_rating

['3.9',
 '3.9',
 '4.1',
 '3.8',
 '4',
 '3.7',
 '3.7',
 '3.9',
 '4.2',
 '3.6',
 '3.8',
 '4',
 '4',
 '3.8',
 '3.3',
 '4.1',
 '3.8',
 '4.1',
 '3.8',
 '3.8']

In [193]:
saldf=pd.DataFrame({})
saldf["Comapany_name"]=company[:10]
saldf['Avarage Salary']=avg_sal[:10]
saldf['Minimum Salary']=minmax_sal[0:20:2]
saldf['Maximum Salary']=minmax_sal[1:21:2]
saldf['Company rating']=comp_rating[:10]
saldf

,Comapany_name,Avarage Salary,Minimum Salary,Maximum Salary,Company rating
0,Tata Consultancy Services,"₹6,31,184",₹4L,₹13L,3.9
1,IBM,"₹9,08,246",₹1L,₹28L,3.9
2,Accenture,"₹11,93,390",₹6L,₹23L,4.1
3,Delhivery,"₹12,49,716",₹5L,₹1Cr,3.8
4,Ericsson-Worldwide,"₹7,58,335",₹4L,₹17L,4
5,UnitedHealth Group,"₹12,80,000",₹8L,₹16L,3.7
6,Optum,"₹13,55,086",₹8L,₹20L,3.7
7,Optum Global Solutions,"₹14,55,430",₹10L,₹18L,3.9
8,Valiance Solutions,"₹8,86,064",₹5L,₹15L,4.2
9,EXL Service,"₹11,10,000",₹6L,₹16L,3.6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [44]:
#Loading the web-page 

driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

urlflip = 'https://www.flipkart.com/'

driver.get(urlflip)

In [45]:
# Extracting the web element of the search bar.

search = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search
 #Entering 'sunglasses' in the search bar.
search.send_keys('sunglasses')

In [46]:
# Clicking on the search button.

src_bttn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

src_bttn.click()

In [11]:
#Extracting the web elements of the brand.

brandtag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brandtag
# Extracting texts from the web elements.

brand_name = []
for b in brandtag:
    brand_name.append(b.text)   
brand_name

['WROGN',
 'Villain',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Elligator',
 'kingsunglasses',
 'PIRASO',
 'LAURELS',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'SUNBEE',
 'ROYAL SON',
 'NuVew',
 'PHENOMENAL',
 'kingsunglasses',
 'AISLIN',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'AISLIN',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Rich Club',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'OCCARIO',
 'ROYAL SON',
 'AISLIN']

In [12]:
len(brand_name)

40

In [16]:
#Extracting the web elements of the product description.

pdt_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
pdt_desc

pdtdesc=[]
for i in pdt_desc:
    pdtdesc.append(i.text)
pdtdesc

['UV Protection Aviator Sunglasses (60)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses, Polarized ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Others Round Sunglasses (52)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)']

In [17]:
len(pdtdesc)

39

In [20]:
# Extracting the web elements of the price.

prc_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

prc_tag
pdt_price=[]
for i in prc_tag:
    pdt_price.append(i.text)
pdt_price

['₹3,086',
 '₹599',
 '₹198',
 '₹237',
 '₹329',
 '₹284',
 '₹237',
 '₹329',
 '₹509',
 '₹758',
 '₹474',
 '₹404',
 '₹213',
 '₹404',
 '₹331',
 '₹498',
 '₹215',
 '₹520',
 '₹265',
 '₹711',
 '₹186',
 '₹399',
 '₹284',
 '₹498',
 '₹202',
 '₹499',
 '₹246',
 '₹498',
 '₹237',
 '₹449',
 '₹215',
 '₹375',
 '₹399',
 '₹449',
 '₹854',
 '₹450',
 '₹499',
 '₹179',
 '₹379',
 '₹495']

In [21]:
len(pdt_price)

40

In [23]:
#Extracting the web elements of the %Discount.

disctag = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disctag

dis=[]
for i in disctag:
    dis.append(i.text)
dis

['5% off',
 '40% off',
 '88% off',
 '85% off',
 '86% off',
 '89% off',
 '85% off',
 '72% off',
 '36% off',
 '15% off',
 '68% off',
 '79% off',
 '80% off',
 '79% off',
 '80% off',
 '70% off',
 '78% off',
 '34% off',
 '73% off',
 '64% off',
 '78% off',
 '80% off',
 '89% off',
 '67% off',
 '83% off',
 '77% off',
 '83% off',
 '70% off',
 '85% off',
 '79% off',
 '73% off',
 '77% off',
 '84% off',
 '82% off',
 '5% off',
 '72% off',
 '37% off',
 '69% off',
 '74% off',
 '67% off']

In [24]:
len(dis)

40

In [47]:
# web element for next button

nxt_btn1 = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')

nxt_btn1.click()

In [28]:
#Extracting the web elements of the brand name from the 2nd page.

brandtag2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brandtag2

brand2=[]
for i in brandtag2:
    brand2.append(i.text)
brand2

['hipe',
 'HIPPON',
 'Elligator',
 'WROGN',
 'GANSTA',
 'Singco India',
 'ROZZETTA CRAFT',
 'Villain',
 'kingsunglasses',
 'SUNBEE',
 'kingsunglasses',
 'AISLIN',
 'Elligator',
 'hipe',
 'hipe',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'kingsunglasses',
 'kingsunglasses',
 'AISLIN',
 'Elligator',
 'kingsunglasses',
 'PHENOMENAL',
 'AISLIN',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'SUNBEE',
 'Singco',
 'PIRASO',
 'NuVew',
 'Silver Kartz',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'SRPM',
 'NuVew',
 'Singco India',
 'NuVew']

In [29]:
len(brand2)

40

In [32]:
# Extracting the web elements of the product description.

pddes2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
pddes2

desc2=[]
for i in pddes2:
    desc2.append(i.text)
desc2

['UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Polarized ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection Cat-eye Sunglasses (60)']

In [33]:
len(desc2)

39

In [34]:
# Extracting the web elements of the price second page.

prc_tag2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

prc_tag2
pdt_price2=[]
for i in prc_tag2:
    pdt_price2.append(i.text)
pdt_price2

['₹209',
 '₹257',
 '₹355',
 '₹3,086',
 '₹295',
 '₹334',
 '₹449',
 '₹599',
 '₹331',
 '₹284',
 '₹199',
 '₹498',
 '₹443',
 '₹210',
 '₹210',
 '₹404',
 '₹295',
 '₹236',
 '₹274',
 '₹498',
 '₹266',
 '₹197',
 '₹399',
 '₹498',
 '₹695',
 '₹443',
 '₹474',
 '₹711',
 '₹314',
 '₹239',
 '₹331',
 '₹375',
 '₹284',
 '₹1,085',
 '₹569',
 '₹450',
 '₹230',
 '₹202',
 '₹293',
 '₹403']

In [35]:
len(pdt_price2)

40

In [36]:
#Extracting the web elements of the %Discount.

disctag2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disctag2

dis2=[]
for i in disctag2:
    dis2.append(i.text)
dis2

['79% off',
 '78% off',
 '85% off',
 '5% off',
 '85% off',
 '72% off',
 '77% off',
 '40% off',
 '79% off',
 '71% off',
 '84% off',
 '70% off',
 '70% off',
 '83% off',
 '78% off',
 '79% off',
 '87% off',
 '80% off',
 '83% off',
 '67% off',
 '86% off',
 '83% off',
 '80% off',
 '70% off',
 '13% off',
 '70% off',
 '68% off',
 '64% off',
 '75% off',
 '76% off',
 '79% off',
 '77% off',
 '76% off',
 '16% off',
 '71% off',
 '72% off',
 '76% off',
 '74% off',
 '82% off',
 '72% off']

In [37]:
len(dis2)

40

In [48]:
# Now we'll move to the 3rd page.

nxt_btn2 = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
nxt_btn2
nxt_btn2.click()

In [51]:
#Extracting the web elements of the brand name from the 3nd page.


brand_tag3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag3

brand3
for i in brand_tag3:
    brand3.append(i.text)
brand3

['Elligator',
 'HIPPON',
 'SUNBEE',
 'LIZA ANGEL',
 'kingsunglasses',
 'hipe',
 'GANSTA',
 'NuVew',
 'ROZZETTA CRAFT',
 'Elligator',
 'hipe',
 'NuVew',
 'kingsunglasses',
 'Elligator',
 'Singco India',
 'AISLIN',
 'hipe',
 'PHENOMENAL',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'Elligator',
 'PHENOMENAL',
 'NuVew',
 'Fastrack',
 'SUNBEE',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'kingsunglasses',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'SRPM',
 'PIRASO',
 'VINCENT CHASE',
 'Singco',
 'Silver Kartz',
 'povty',
 'AISLIN']

In [52]:
# Extracting the web elements of the product description on the 3rd page.

pddes3 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

pddes3
productdesc3 = []

for i in pddes3:
    productdesc3.append(i.text)
    
productdesc3

['Mirrored Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Sports Sunglasses (73)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (56)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (56)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Rectangular Sunglass...']

In [53]:
# Extracting the web elements of the price third page.

prc_tag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

prc_tag3
pdt_price3=[]
for i in prc_tag3:
    pdt_price3.append(i.text)
pdt_price3

['₹312',
 '₹257',
 '₹284',
 '₹479',
 '₹314',
 '₹209',
 '₹279',
 '₹355',
 '₹449',
 '₹266',
 '₹210',
 '₹398',
 '₹189',
 '₹398',
 '₹334',
 '₹675',
 '₹210',
 '₹399',
 '₹224',
 '₹365',
 '₹260',
 '₹398',
 '₹295',
 '₹396',
 '₹695',
 '₹314',
 '₹474',
 '₹404',
 '₹206',
 '₹189',
 '₹1,085',
 '₹298',
 '₹569',
 '₹230',
 '₹314',
 '₹1,415',
 '₹239',
 '₹284',
 '₹349',
 '₹625']

In [54]:
#Extracting the web elements of the %Discount third page.

disctag3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disctag3

dis3=[]
for i in disctag3:
    dis3.append(i.text)
dis3

['87% off',
 '78% off',
 '71% off',
 '63% off',
 '80% off',
 '79% off',
 '86% off',
 '71% off',
 '77% off',
 '86% off',
 '83% off',
 '68% off',
 '85% off',
 '73% off',
 '72% off',
 '76% off',
 '78% off',
 '80% off',
 '81% off',
 '68% off',
 '84% off',
 '73% off',
 '87% off',
 '68% off',
 '13% off',
 '75% off',
 '68% off',
 '79% off',
 '81% off',
 '84% off',
 '16% off',
 '80% off',
 '71% off',
 '76% off',
 '80% off',
 '29% off',
 '76% off',
 '76% off',
 '65% off',
 '74% off']

In [67]:
#combining data of all pages together

brand_name4=brand_name+brand2+brand3
prod_desc4=pdtdesc+desc2+productdesc3
price4=pdt_price+pdt_price2+pdt_price3
discount=dis+dis2+dis3

#storing data in dataframe

sun_df=pd.DataFrame({})
sun_df["Brand Name"]=brand_name4[:100]
sun_df['Product Description']=prod_desc4[:100]
sun_df['Price']=price4[:100]
sun_df['discount']=discount[:100]
sun_df

,Brand Name,Product Description,Price,discount
0,WROGN,UV Protection Aviator Sunglasses (60),"₹3,086",5% off
1,Villain,Others Wayfarer Sunglasses (Free Size),₹599,40% off
2,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
4,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
...,...,...,...,...
95,AISLIN,"UV Protection, Mirrored Round Sunglasses (54)",₹675,76% off
96,hipe,"UV Protection, Gradient, Night Vision, Mirrore...",₹210,78% off
97,PHENOMENAL,"UV Protection, Mirrored Round Sunglasses (Free...",₹399,80% off
98,kingsunglasses,"UV Protection, Riding Glasses Rectangular, Ret...",₹224,81% off
99,NuVew,UV Protection Round Sunglasses (53),₹365,68% off

Q.No. 7 :- Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [68]:
url7 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace'

driver.get(url7)

In [70]:
# Extracting the web elements of the button to view 'All review'.

rating_btn = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')

rating_btn.click()

In [71]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

Q. No. 8 :- Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [72]:
# Loading the web-page.

url8 = 'https://www.flipkart.com/'

driver.get(url8)

In [73]:
# Extracting the webelement of the search bar.

src_tag8 = driver.find_element_by_xpath('//input[@class="_3704LK"]')
# Entering 'sneakers' in the search bar.

src_tag8.send_keys('sneakers')

In [74]:
# Extracting the web element of the search button and clicking on the search button.

src_btn8 = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

src_btn8.click()

In [93]:
#Extracting the url for next page
url_list = []
for j in range(0,3):
    tile = driver.find_elements_by_xpath("//a[@class= '_2UzuFa']")
    for i in tile:
        url_list.append(i.get_attribute('href'))
        next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']/span")
        if next_btn.text == 'Next':
             next_btn.click()

In [94]:
#extracting data
brand_name = []
product_description = []
price = []
discount = []
for i in url_list[0:100]:
    driver.get(i)
    time.sleep(1)
    brand = driver.find_element_by_xpath("//span[@class='G6XhRU']")
    brand_name.append(brand.text)
    des = driver.find_element_by_xpath("//span[@class='B_NuCI']")
    product_description.append(des.text)
    pri = driver.find_element_by_xpath("//div[@class = '_30jeq3 _16Jk6d']")
    price.append(pri.text)
    dis = driver.find_element_by_xpath("//div[@class = '_3Ay6Sb _31Dcoz pZkvcx']")
    discount.append(dis.text)
    
driver.close()

In [95]:
df = pd.DataFrame({})
df['brand']= brand_name[0:100]
df['description']= product_description[0:100]
df['price']= price[0:100]
df['discount']= discount[0:100]
df

,brand,description,price,discount
0,believe,Sneakers for men(black_6) Sneakers For Men (B...,₹449,55% off
1,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
2,HOC,Luxury Fashionable Breathable Casual Sneakers ...,₹378,81% off
3,STRANGER BROTHERS,"Sneakers For Men (White, Black)",₹449,55% off
4,bluemaker,casual for men (blue 10) Sneakers For Men (Blue),₹404,59% off
...,...,...,...,...
95,WELDONE,Fashion Sneakers For Men (Black),₹277,44% off
96,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men ...,₹472,52% off
97,India hub,Fashionable sneaker casual shoes Sneakers For ...,₹399,80% off
98,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
99,Brainer,Sneakers For Men (White),₹499,50% off

Q. No. 9 :- Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [36]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
# loding the web-page https://www.myntra.com/shoes

url9 = 'https://www.myntra.com/shoes'

driver.get(url9)

In [37]:
# Extracting the web-element of the price filter and clicking on it to get the desired results.

price_check= driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')

price_check.click()

In [38]:
# Extracting the web-element of the color filter and clicking on it to get the desired results.

color_check = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')

color_check.click()

In [40]:
# Extracting the web-elements of the brands of the shoes.

brand_tag1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_tag1
b_name1 = []

for b1 in brand_tag1:
    b_name1.append(b1.text)  
b_name1

['ALDO',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Hush Puppies',
 'ROSSO BRUNELLO',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Geox',
 'J.FONTINI',
 'UNDER ARMOUR',
 'ASICS',
 'Puma',
 'Puma',
 'Geox',
 'Puma',
 'ROSSO BRUNELLO',
 'Hush Puppies',
 'UNDER ARMOUR',
 'FORCLAZ By Decathlon',
 'Calvin Klein',
 'Hush Puppies',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Puma',
 'UNDER ARMOUR',
 'ASICS',
 'PUMA Motorsport',
 'Clarks',
 'ASICS',
 'Puma',
 'RARE RABBIT',
 'Geox',
 'Hush Puppies',
 'DAVINCHI',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'J.FONTINI',
 'PUMA Motorsport',
 'ALDO',
 'Geox',
 'Puma',
 'ROSSO BRUNELLO',
 'Heel & Buckle London',
 'ROSSO BRUNELLO',
 'PUMA Motorsport']

In [41]:
len(b_name1)

50

In [45]:

# Extracting the web-elements of the short description.

p_desc_tag1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
desc1=[]
for  i in p_desc_tag1:
    desc1.append(i.text)
desc1

['Men Driving Shoes',
 'Men Cell Fraction Fade Running',
 'Men Velocity Nitro Running',
 'Mesh Hybrid Fuego Running',
 'Men BlackTraining or Gym Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Monk Shoes',
 'Men FUSE Training Shoes',
 "Men BlazerLow '77 Sneakers",
 'Men HOVR Infinite Running',
 'Men Printed Slip-On Sneakers',
 'Men Black Leather Loafers',
 'Women HOVR Sonic 4 FnRn',
 'Men Tennis Shoes',
 'Men Liberate NITRO Running',
 'Men Jamming 2.0 Running Shoes',
 'Men Sneakers',
 'Men Black Shoes',
 'Men Leather Formal Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Charged Impulse Shft',
 'TREKKING 100 Boots',
 'Men Loafers',
 'Men Leather Slip-On Sneakers',
 'Men HOVR Sonic STRT Tech Shoes',
 'Women Charged Vantage ClrShft',
 'Women HOVR Sonic 4 Running',
 'Men Formal Derbys',
 'Men Football Shoes',
 'Women Charged Assert 8 Running',
 'Women GlideRide Running Shoes',
 'Unisex Mercedes F1 Sneakers',
 'Men Solid Formal Leather Derbys',
 'Women Running Shoes',
 'Women Eternity Nitro Running',
 'Men Leather Flat Boots',
 'Men Leather Flat Boots',
 'Men Solid Leather Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Women Charged Bandit 6 Running',
 'Unisex FerrariRS-Fast Sneakers',
 'Men Solid Loafers',
 'Unisex Ferrari Drift8 Sneakers',
 'Women Woven Design Sneakers',
 'Men Solid Sneakers',
 'Unisex Colourblocked Sneakers',
 'Men Solid Formal Monks Shoes',
 'Women Solid Leather Gladiators',
 'Men Leather Formal Loafers',
 'Women BMW M Motorsport Shoes']

In [46]:
len(desc1)

50

In [48]:
# Extracting the web-elements of the product prices.

price_tag1 = driver.find_elements_by_xpath('//div[@class="product-price"]')
price1=[]
for i in price_tag1:
    price1.append(i.text)
price1

['Rs. 11999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7195',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 8490',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 12749Rs. 16999(25% OFF)',
 'Rs. 6999',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 12999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 12999',
 'Rs. 6999']

In [49]:
len(price1)

50

In [50]:
# Visiting the next page. For this we'll extract the web-element of the next page button.

next_page = driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')

next_page.click()

In [51]:
# Extracting the web-elements of the brands of the shoes on second page.

brand_tag2 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_tag2
b_name2 = []

for b1 in brand_tag2:
    b_name2.append(b1.text)  
b_name2

['ASICS',
 'ROSSO BRUNELLO',
 'Geox',
 'J.FONTINI',
 'Clarks',
 'Saint G',
 'ROSSO BRUNELLO',
 'Heel & Buckle London',
 'KIPRUN By Decathlon',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'Cole Haan',
 'Cole Haan',
 'Cole Haan',
 'Nike',
 'Quechua By Decathlon',
 'VIONIC',
 'J.FONTINI',
 'J.FONTINI',
 'J.FONTINI',
 'Geox',
 'PUMA Motorsport',
 'Heel & Buckle London',
 'Kalenji By Decathlon',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Saint G',
 'Kenneth Cole',
 'PUMA Hoops',
 'Geox',
 'J.FONTINI',
 'ASICS',
 'Ruosh',
 'Geox',
 'Geox',
 'ALDO',
 'Cole Haan',
 'Florsheim',
 'Heel & Buckle London',
 'J.FONTINI',
 'ALDO',
 'Nike',
 'J.FONTINI',
 'Nike',
 'J.FONTINI',
 'Kenneth Cole',
 'Kenneth Cole',
 'Nike']

In [53]:
len(b_name2)

50

In [54]:
# Extracting the web-elements of the short description on second page.

p_desc_tag2 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
desc2=[]
for  i in p_desc_tag2:
    desc2.append(i.text)
desc2

['Women GlideRide Running Shoes',
 'Men Solid Leather Formal Monk Shoes',
 'Men Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Formal Leather Derbys',
 'Women Leather Heeled Boots',
 'Men Leather Formal Loafers',
 'Women Peep Toe Heels',
 'Women Running Shoes',
 'Women Charged Rogue 2.5ClrSft',
 'Women Liberate NITRO Running',
 'Women Eternity NITRO Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Leather Sneakers',
 'Women Air Zoom Running Shoes',
 'Men Trekking Shoes',
 'Men Textured Sneakers',
 'Men Solid Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Leather Formal Slip-Ons',
 'Unisex BMW MMS RS-FastSneakers',
 'Men Leather Formal Loafers',
 'Men KD500 Running Shoe',
 'Women Solid Leather Heels',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Heeled Boots',
 'Women Leather Pumps',
 'Unisex Clyde Basketball Shoes',
 'Men Leather Formal Slip-Ons',
 'Men Textured Leather Loafers',
 'Men Black Running Sports Shoes',
 'Men Solid Leather Formal Monks',
 'Men Solid Sneakers',
 'Men Leather Driving Shoes',
 'Women Solid Sneakers',
 'Women Open Toe Flats',
 'Men Solid Leather Formal Derbys',
 'Women Leather Pumps',
 'Men Solid Leather Formal Slip-Ons',
 'Women Woven Design Sneakers',
 'Men ZOOM WINFLO8 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Vomero 16 Running Shoes',
 'Men Leather Formal Loafers',
 'Women LeatherSneakers',
 'Women Solid Flat Boots',
 'Men AIR MAX INFINITY Sneakers']

In [55]:
len(desc2)

50

In [56]:
# Extracting the web-elements of the product prices.

price_tag2 = driver.find_elements_by_xpath('//div[@class="product-price"]')
price2=[]
for i in price_tag2:
    price2.append(i.text)
price2

['Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 7600',
 'Rs. 11999',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 10295',
 'Rs. 9999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 8999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7773Rs. 8449(8% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 8500',
 'Rs. 8900',
 'Rs. 8000',
 'Rs. 10493Rs. 14990(30% OFF)',
 'Rs. 8999',
 'Rs. 11242Rs. 14990(25% OFF)',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 6995',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7990',
 'Rs. 8999',
 'Rs. 8295',
 'Rs. 7990',
 'Rs. 13495',
 'Rs. 6990',
 'Rs. 7343Rs. 10490(30% OFF)',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 8295']

In [57]:
len(price2)

50

In [61]:
productname=b_name1+b_name2
descript=desc1+desc2
prod_price=price1+price2

df10=pd.DataFrame({})
df10["Product name"]=productname
df10["PRoduct Description"]=descript
df10["Product Price"]=prod_price
df10

    Product name             PRoduct Description               Product Price
0           ALDO               Men Driving Shoes                   Rs. 11999
1           Puma  Men Cell Fraction Fade Running                    Rs. 6999
2           Puma      Men Velocity Nitro Running                   Rs. 10999
3           Puma       Mesh Hybrid Fuego Running                    Rs. 6999
4           Puma  Men BlackTraining or Gym Shoes                    Rs. 6999
..           ...                             ...                         ...
95          Nike     Men Vomero 16 Running Shoes                   Rs. 13495
96     J.FONTINI      Men Leather Formal Loafers                    Rs. 6990
97  Kenneth Cole           Women LeatherSneakers  Rs. 7343Rs. 10490(30% OFF)
98  Kenneth Cole          Women Solid Flat Boots  Rs. 9513Rs. 13590(30% OFF)
99          Nike   Men AIR MAX INFINITY Sneakers                    Rs. 8295

[100 rows x 3 columns]

Q. No. 10 :- Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.¶

In [20]:
# Loading the web-page https://www.amazon.in/.

url10 = 'https://www.amazon.in/'

driver.get(url10)

In [21]:
# Entering 'Laptops' in the search bar.

src_Laptop = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')

src_Laptop.send_keys('Laptops')

In [22]:
# Extracting the web-element of the search button and clicking on it to get the desired results.

src_btn10 = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')

src_btn10.click()

In [23]:
# Extracting the web element of the filter buttons and clicking on it.

filter1 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')

filter1.click()

In [24]:
filter2 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')

filter2.click()

In [28]:
# Extracting the web element of the titles.

laptop_title= driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')

title = []

for i in laptop_title:
    title.append(i.text)
title

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 '(Renewed) Hp Intel 7th Gen Core i7 13.3-inch (33.78 Cms) 1920 x 1080 TOUCHSCREEN Laptop (16GB RAM/1TB SSD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Silver/1.2Kg) EliteBook x360 G2',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (32GB RAM /1TB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 'ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD Thin and Light Laptop (16GB/1TB SSD/Windows 10/Office 2019/Intel Iris Xᵉ Graphics/Lilac Mist/1.14 kg), UX325EA-KG701TS',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'ASUS VivoBook S S15 (2021), 15.6-inch (39.62 cms) FHD Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (8GB/512GB SSD/Office 2019/Windows 10/2GB NVIDIA MX350 Graphics/Silver/1.8 kg) S532EQ-BQ702TS',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (32GB RAM/512GB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (16GB RAM/512GB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (4GB RAM/500GB HDD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7']

In [29]:
# To extract the ratings of the laptops firstly we'll extract the page urls of every laptop.

laptop_ratings_urls = []

url10 = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]//a')
for u10 in url10:
    laptop_ratings_urls.append(u10.get_attribute('href'))
    
laptop_ratings_urls

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10081262K6KZOZ37JXYV&url=%2FHP-Processor-13-3-inch-Touchscreen-13-ba1018TX%2Fdp%2FB091FJ13Q5%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptops%26qid%3D1631275781%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1631275781&id=6964991677857161&widgetName=sp_atf',
 'https://www.amazon.in/Lenovo-IdeaPad-Windows-Graphics-82H1002CIN/dp/B094XJPQ6N/ref=sr_1_2?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_3?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Lenovo-IdeaPad-250Nits-Graphics-81Y4019EIN/dp/B097TZMG7R/ref=sr_1_4?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_5?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN063T/dp/B096KVJ5PC/ref=sr_1_6?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_7?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Fujitsu-33-78cm-Convertible-Graphics-4ZR1D71993/dp/B098P4M233/ref=sr_1_8?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_9?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-Processor-13-3-inch-Touchscreen-13-ba1018TX/dp/B091FJ13Q5/ref=sr_1_10?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/ASUS-17-3-inch-i7-11800H-GeForce-RTX-3050-Ti-FX766HE-HX022T/dp/B0987S6PG1/ref=sr_1_11?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_12?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/13-3-inch-TOUCHSCREEN-Integrated-Graphics-EliteBook/dp/B09CMZLGYG/ref=sr_1_13?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_14?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4DZ5N/ref=sr_1_15?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/ASUS-i7-1165G7-35-56cms-Graphics-UX325EA-KG701TS/dp/B095C55Q7P/ref=sr_1_16?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_17?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/ASUS-VivoBook-S532EQ-BQ702TS-I7-1165G7-SILVER/dp/B08PZ3VRCS/ref=sr_1_18?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ33KWV/ref=sr_1_19?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ2ZKRS/ref=sr_1_20?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4ZZ49/ref=sr_1_21?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4V2F8/ref=sr_1_22?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4DKF6/ref=sr_1_23?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Lenovo-39-62cm-Refresh-Keyboard-82JK007WIN/dp/B09DMYZW5Q/ref=sr_1_24?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRHFV23/ref=sr_1_25?dchild=1&keywords=Laptops&qid=1631275781&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25']

In [30]:
# Extracting texts from the page urls of the laptops.

rating10 = []

for r10 in laptop_ratings_urls:
    driver.get(r10)
    time.sleep(10)
    try:
        ratings_tag10 = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rating10.append(ratings_tag10.text)
    except:
        pass
rating10

['4.1 out of 5',
 '4.3 out of 5',
 '4.2 out of 5',
 '4.4 out of 5',
 '4.2 out of 5',
 '3.5 out of 5',
 '5 out of 5',
 '4.2 out of 5',
 '4 out of 5',
 '4.1 out of 5',
 '4.3 out of 5',
 '4.1 out of 5',
 '5 out of 5',
 '4 out of 5',
 '4.3 out of 5',
 '4.2 out of 5',
 '3.2 out of 5']

In [34]:
# Extracting the web elements of the prices.

laptop_price= driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

Laptop_price=[]
for i in laptop_price:
    Laptop_price.append(i.text)
Laptop_price

['1,23,300',
 '76,999',
 '77,990',
 '57,990',
 '73,990',
 '74,990',
 '87,990',
 '1,13,990',
 '91,990',
 '1,07,990',
 '86,990',
 '1,23,300',
 '63,999',
 '52,999',
 '1,01,910',
 '81,290',
 '84,688',
 '50,999',
 '47,999',
 '45,999',
 '39,999',
 '41,999',
 '1,25,390',
 '429.',
 '1,12,990.',
 '13,800.',
 '10,990.',
 '263.',
 '359.',
 '13,800.']

In [64]:
df10=pd.DataFrame({})
df10['Brand Name']=title[:10]
df10['Rating']=rating10[:10]
df10['Price']=Laptop_price[:10]
df10

                                          Brand Name        Rating     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,23,300
1  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....  4.3 out of 5    76,999
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    77,990
3  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...  4.4 out of 5    57,990
4  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...  4.2 out of 5    73,990
5  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...  3.5 out of 5    74,990
6  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    5 out of 5    87,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  4.2 out of 5  1,13,990
8  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...    4 out of 5    91,990
9  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,07,990